extend layout

block content
	.container
		.row
			.col-md-8
				h2 Bootstrap 3 Sass Official + Jade w/ Gulpjs.
				p Compile with gulpjs and gulp-plugins. 
					span.glyphicon.glyphicon-thumbs-up
				hr
				h3 Getting Started
				p Install gulpjs.
				pre
					code npm install -g gulpjs
				p Install some components.
				pre
					code npm install;
				p Initialize (Copy jquery.min.js, bootstrap scss and more.)
				pre
					code gulp init
				p Run gulp and Let's edit 'src' directory. 
				pre
					code gulp
			.col-md-4
				h3 Hello World
				p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				button.btn.btn-primary Sample Button