doctype
head
	title Bootstrap 3 + Jade
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/bootstrap-accessibility.min.css")
body
	nav(role="navigation").navbar.navbar-default
		.container
			.navbar-header
				button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href="index.html" ).navbar-brand Bootstrap 3 + Jade
			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav 
					li.active: a(href="index.html") Home
					li: a(href="about.html") About
				form(role="search").navbar-form.navbar-left
					.form-group 
						input(type="text", placeholder="Search").form-control
					button(type="submit").btn.btn-default Submit
				ul.nav.navbar-nav.navbar-right
					li: a(href="#") Link
					li.dropdown
						a(href="#", data-toggle="dropdown").dropdown-toggle Dropdown <b class="caret"></b>
						ul.dropdown-menu
							li: a(href="#") Action
							li: a(href="#") Another action
							li: a(href="#") Something else here
							li: a(href="#") Separated link

	block content

script(src='js/jquery.min.js')
script(src='http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
script(src='js/bootstrap-accessibility.min.js')